
<!--Header-->
<%- include partials/header.ejs %>

<!--Main Navigation-->
<%- include partials/main_nav.ejs %>

<!--Welcome Message -->
<%- include partials/welcome.ejs %>


<!--My Image-->
<form>
    <div class="row">
        <div class="col">
            <img src="Assets/images/profile.jpg" height="400" alt="My Picture"> 
           
        </div>

<!-- About Me-->       
    <div class="col">
        <p>Hi! I am Ashrut Sharma, I have a Bachelor of Computer Applications degree and I am currently
            pursuing Software Engineering Technology Advanced Diploma from Centennial College. I have
            developed multiple web based projects using JavaScript, PHP, mySQL and most recently using 
            Node.js and Express.js. More details can be found on my Resume.
            
        </p>    
<!-- My resume file pdf-->
            <p>Here's my resume: <a href="Assets/multimedia/Resume.pdf">View</a></p>
        </div>
    </div>

</form>



<!--Bottom-->
<%- include partials/footer_nav.ejs %>

<!--Footer-->
<%- include partials/footer.ejs %>



