<!--Header-->
<%- include partials/header.ejs %>

<!--Main Navigation-->
<%- include partials/main_nav.ejs %>

<!--Welcome Message with Jumbotron bar-->
<%- include partials/welcome.ejs %>

    
<!-- Mission Statemnnt-->
    
<div class="form-group">
  <p>
    <h2>Mission Statement </h2><br>
    Web Developer and Designer with hands-on experience of Developing a responsive website using HTML, CSS, 
    Bootstrap, Javascript, PHP and mySQL. Also proficient with designing tools like Adobe XD as well as other 
    programming languages like C, C++, C# and Java.
  </p>
</div>
    
  
  <!--Button to about me page-->
<form method="get" action="/about" >
  <button type="submit" class="btn btn-primary">About Me</button>
</form>

    
<!--Bottom-->
<%- include partials/footer_nav.ejs %>

<!--Footer-->
<%- include partials/footer.ejs %>