
<!--Header-->
<%- include partials/header.ejs %>

<!--Main Navigation-->
<%- include partials/main_nav.ejs %>

<!--Welcome Message -->
<%- include partials/welcome.ejs %>


<!-- My Projects Bar-->
<li class="list-group-item">My Projects</li>


<!--Images and descriptions of my project-->
<ul  class="imageList" >
    <div class="row">
        <div class="col1">
            <img src="Assets/images/university.png" height="250" id="networking_project_image" alt="Netwoking Project Image">
            <h3>University Website</h3><br>

               <p align=left>
                  A sample university website developed using JavaScript, CSS and HTML.
               </p>    
               <p>
               <p><a href="https://ashrut05.github.io/University-Website/HTML/index.html" target="_blank">Live Demo</a><br>
                  <a href="https://github.com/ashrut05/University-Website" target="_blank">Github Link</a></p>
         </div>

         <div class="col1">
            <img src="Assets/images/weather.png"  height="250" id="oracle_project_image"  alt="Oracle Project Image">
            <h3>Weather App</h3><br>       

               <p align=left>A simple website that gives you the current weather for your searched city using HTML, CSS,
                  JavaScript and Open Weather API.
               </p>
               <p><a href="https://ashrut05.github.io/weather-app/" target="_blank">Live Demo</a><br>
               <a href="https://github.com/ashrut05/weather-app" target="_blank">Github Link</a></p>
         </div>
   </div>
</ul><br> 


<!--Bottom-->
<%- include partials/footer_nav.ejs %>

<!--Footer-->
<%- include partials/footer.ejs %>