
<!--Header-->
<%- include partials/header.ejs %>

<!--Main Navigation-->
<%- include partials/main_nav.ejs %>

<!--Welcome Message -->
<%- include partials/welcome.ejs %>


<!--My Services Images-->
<li class="list-group-item"><h3>Services Offered</h3></li>
<!--List of what I offer-->
<ul class="list-group">
    <li class="list-group-item">1: Web Application Development</li>
    <li class="list-group-item">2: UI/UX Design Design</li>
    <li class="list-group-item">3: Desktop Application Development</li>
    <li class="list-group-item">3: Database Adminstration</li>
    <li class="list-group-item">3: Software Development</li>
  </ul>


<!--Bottom-->
<%- include partials/footer_nav.ejs %>

<!--Footer-->
<%- include partials/footer.ejs %>