<!--Header-->
<%- include ../partials/header.ejs %>

<!--Main Navigation-->
<%- include ../partials/main_nav.ejs %>

<!--Welcome Message -->
<%- include ../partials/welcome.ejs %>
    <!--Main Section-->
        <main class="container">
            <div class="row">
                <div class="offset-md-2 col-md-12">
                <br>
                <table class = "table table-bordered table-striped table-hover" style="width: 700px;">
                   <!--Table Header-->
                    <tr class="d-flex"> 
                        <th class="text-center col-2">Contact Name</th>
                        <th class="text-center col-3">Contact Number</th>
                        <th class="text-center col-3">Email Address</th>
                        <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-2">Edit</th>
                        <th class="text-center col-2">Delete</th>
                        <% } %>  
                    </tr>
                    <!--Repeatable Template Row-->
                    <% for(let count = 0; count < BusinessList.length; count++) { %>
                        <tr class="d-flex">
                            <td class="text-center col-2"><%= BusinessList[count].name %></td>
                            <td class="text-center col-3"><%= BusinessList[count].contactnumber %></td>
                            <td class="text-center col-3"><%= BusinessList[count].email %></td>

                            <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-2">
                                <a href="/business-list/edit/<%=BusinessList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-2">
                                <a href="/business-list/delete/<%=BusinessList[count]._id%>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                            <% } %>  
                        </tr>
                   <% } %>  
                </table>
            </div>
            </div>
        </main>

<!--Bottom-->
<%- include ../partials/footer_nav.ejs %>

<!--Footer-->
<%- include ../partials/footer.ejs %>